<footer class="footer">
    {{if or (.Site.Params.footer.trademark) (.Site.Params.footer.author) (.Site.Params.footer.copyright) (.Site.Params.footer.rss) (.Site.Params.footer.topText) }}
    <div class="footer__inner">
        <div class="footer__content">
            {{ if .Site.Params.footer.trademark }}<span>&copy; {{ now.Format "2006" }}</span>{{ end }}
            <a href="{{ .Site.BaseURL }}/colophon">colophon</a>
            {{ range .Site.Params.footer.topText }}<span>{{ . | safeHTML}}</span>{{ end }}
        </div>
    </div>
    {{ end }}
    <div class="footer__inner">
        <div class="footer__content">
            <!-- hypothetically something here-->
        </div>
    </div>
</footer>
