{{ define "body" }}

<body class="{{ if .Site.Params.backgroundImage }} background-image"
    style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
    {{ end }}

    {{ define "main" }}
    <main aria-role="main">
        <div class="home-top">
            <h2 class="hero">Hi, I'm Rob.</h2>
        </div>

        <div class="home-bottom">
            <script src="https://tryhackme.com/badge/262183"></script>
            <div class="htb-badge"
                style="margin: 20px auto;width: 245px; padding: 5px;height:60px; background-color: #343c41; border-radius:4px; text-align: left; background-image: url(https://www.hackthebox.com/images/icon20.png); background-position: right 5px bottom 5px; background-repeat: no-repeat;">
                <style scoped>
                    @font-face {
                        font-family: "Roboto";
                        font-style: normal;
                        font-weight: 400;
                        src: url(https://fonts.gstatic.com/s/ubuntumono/v6/ViZhet7Ak-LRXZMXzuAfkY4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
                    }

                    .htb_font {
                        font-family: "Roboto", monospace;
                    }

                    .htb_nickname {
                        color: #ffffff;
                        font-size: 12px;
                        font-weight: bold;
                    }

                    .htb_points {
                        color: #56C0E0;
                        font-size: 10px;
                    }

                    .htb_respect {
                        color: #f7af3e;
                        font-size: 10px;
                    }

                    .htb_ranking {
                        color: #ffffff;
                        font-size: 10px;
                    }

                    .htb_line {
                        line-height: 12px;
                        margin: 0px;
                        padding: 0px;
                    }

                    .htb_link {
                        color: #9acc14;
                        font-size: 0.6em;
                        text-decoration: none;
                    }

                    .htb_link:hover {
                        color: #9acc14;
                        font-size: 0.6em;
                        text-decoration: underline;
                    }

                    .htb_link:visited {
                        color: #9acc14;
                    }

                    .htb_rank {
                        color: #ffffff;
                        font-size: 11px;
                        margin-left: 5px;
                    }

                    .htb_row1 {
                        height: 13px;
                    }

                    .htb_row2 {
                        height: 17px;
                    }

                    .htb_row3 {
                        height: 5px;
                    }
                </style>
                <div style="width: 40px; height: 40px; border-radius:4px; float:left; margin-top:5px; margin-left:5px;">
                    <img style="width:40px; height: 40px; border-radius:4px;"
                        src="https://www.hackthebox.com/storage/avatars/b2705d33dca04c3d6eac978a37137e4f.png">
                </div>
                <div class="htb_font" style="float:left; height:40px; padding-left: 5px; margin-top:5px;">
                    <p class="htb_line"><a href="https://app.hackthebox.com/profile/1059427"><span
                                class="htb_nickname">virtualtack</span></a><a
                            href="https://app.hackthebox.com/profile/1059427"><span class="htb_rank">Pro
                                Hacker</span></a><br></p>
                    <p class="htb_line"><a href="https://app.hackthebox.com/profile/1059427"><span
                                class="htb_ranking">Rank: 437</span></a></p></a>
                    <p class="htb_line"><a href="https://www.hackthebox.com" class="htb_link">hackthebox.com</a></p>
                </div>
            </div>
        </div><!-- .home-bottom-->

        {{ partial "subtitle.html" . }}
        {{- with .Site.Params.social }}
        <div class="social-icons">
            {{ partial "social-icons.html" . }}
        </div>
        {{- end }}
        &nbsp;
        </div>

    </main>
    {{ end }}