{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div class="home-top">
            <h2 class="hero">Hi, I'm Rob</h2>
            <div class="hero-container">
                <div class="environment"></div>
                <h2 class="hero glitch layers" data-text="virtualtack"><span><small>(VirtualTack)</small></span></h2>
            </div>
        </div>

        <div class="home-bottom">
        <script src="https://tryhackme.com/badge/262183"></script>
        <!-- https://www.hackthebox.com/badge/image/1031764 -->
        </div>

            {{ partial "subtitle.html" . }}
            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
            &nbsp;
        </div>

    </main>
{{ end }}
